* {
  font-family: 'Roboto', sans-serif;
}

.menu {
  background-color: #002642;
  position: top;
  top: 0;
}

.menu ul {
  list-style-type: none;
  padding: 15px;
}

.menu li {
  display: inline;
  padding: 10px; 
}

.menu a {
  color: #E5DADA;
}

.float_img {
  height: 200px;
  float: left;
  margin-right: 15px;
}